/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700');


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	font-weight: 400;
    color: #666;
    background-color: #fff;
}

main {
	min-height: calc(100vh - 378px);
}

section#intro,
section#services,
section#news, 
section#contact {
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 16px;
    line-height: 1.6em;
}

.bg-gray {
    background: #f8f8f8;
}
p.lead {
	font-weight: 600;
}
a {
    color: #665745;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

section a:hover,
section a:focus {
    text-decoration: none;
    color: #176e61;
}
.btn-primary{
	background: #665745;
	border: none;
	color: white;
}
.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active
{
	background-color: #574a3a !important;
	border: none !important;
	box-shadow: none !important;
}

/* ===========================
--- General sections
============================ */

.section-heading h2 {
	font-size: 40px;
}
.section-heading i {
	margin-bottom: 20px;
}
article .author  {
  display: block;
  font-size: 100%;
  line-height: 1.42857143;
  color: #b4bcc2;
}
section > .wrapper {
	background: #00000080;
}

section#news .card:hover{
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in-out;
}
.card + .card {
	margin-left: 1%;
}
.card img {
	max-height: 40vh;
}
/* --- section bg var --- */

/* ============================
--- Menu
============================= */


body> div + *{
	margin-top: 60px;
}
.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: #466f66;
		color: white;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
		z-index:150;
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		font-size: 13px;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		color: #fff;
		text-decoration: none;
		cursor: pointer;
}
.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
}

.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		background: #466f66;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.gn-menu {
		text-align: left;
		font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}
.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'ecoicons';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
		content: "\e000"
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\e006"
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-photoshop::before {
		content: "\e001"
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-videos::before {
		content: "\e009"
}
.gn-icon-tos::before {
		content: "\e011"
}
/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: white;
		box-shadow: 0 3px #466f66, 0 -6px white, 0 -9px #466f66, 0 -12px white;
		content: '';
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}




/* ===========================
--- Intro
============================ */


#intro{	
	background-image: url(../img/img-bg.jpg);
	background-size: cover;
}
.intro .slogan .col-12 > h1 {
	color: #fff;
	line-height: 1.1em;
	margin-bottom: 20px;
 	font-size: 40px;
 	text-shadow: 0px 0px 3px #000;
}
.intro .slogan .col-12 >  p {
	color: #eee;
	margin-bottom: 50px;
	font-size: 1.6em;
}

/* ===========================
--- Services
============================ */

.service-icon {
	margin-bottom: 20px;
}	

/* ===========================
--- Contact
============================ */

.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}



/* ===========================
--- Footer
============================ */

body > footer {
	text-align: center;
	padding: 15px 0 ;
    background-color: #466f66
}
footer p {
	color: #f8f8f8;
}

footer a {
	color: #fefefe;
}

footer a:hover {
	color: #fff;
}

/* ===========================
--- Elements
============================ */
@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.bd
{
	border: 1px solid black;
	border-radius: 5px;
	white-space: normal;
	vertical-align: middle;
	background-color: rgba(255,255,255,0.75);
}
.gn-menu .fa
{
	font-size: 25px;
	margin: 0 25px 0 15px;
}
.download a:first-child div div
{
	margin: 5% 0;
}
.download a:first-child div
{
	padding: 0px;
}
.tos
{
	margin-top: 60px;
}
.tos h1
{
	margin: 0;bd
}
/* Media queries */

@media screen and (max-width: 992px){
	main > section:not(#intro) {
		height: auto;
	}
}
